<script src="~/Scripts/prj/SysContent.js?v=20240927001"></script>

@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")
<table id="_table"></table>



<script>
        window.siteroot = "@Url.Content("~/")";
</script>