<script src="~/Scripts/prj/UserInputCal.js?v=20241210001"></script>
<script src="~/Scripts/prj/basefun.js"></script>

@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table"></table>