body {
    position: fixed;
    height: 100%;
    width: 100%;
}

header {
    height: 60px;
    background-color: #CBF0FD;
    background-image: url(../../Images//banner-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    /*display:flex;*/
}

footer {
    height: 46px;
    background-color: lightcyan;
    border-top: 1px solid #aaa;
}

.body-content {
    position: relative;
    height: calc( 100% - 106px );
    overflow: auto;
    padding:.5rem 0;
}

.cal-result {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: white;
    transition: ease-out .4s;
    word-break: break-all;
    padding: 5%;
}

body.show-cal .cal-result {
    left: 0;
}

body.show-cal .input-paras {
    display: none;
}

body.show-cal .btn-cancel, body.show-cal .btn-cal, body.show-cal .btn-view {
    display: none;
}


.label-title {
    font-weight: bold;
}

.accordion > .card:not(:first-child) {
    margin-top: 2px;
}

#accordion-main-container > .card > .card-header {
    background-color: #269dc7;
}

#accordion-main-container > .card > #card-header-elec {
    background-color: #2a9a84;
}

#accordion-fuel-container > .card > #card-header-refrigerant {
    background-color: #031e49;
}

#accordion-main-container > .card > .card-header .btn-link {
    color: white;
    font-weight: bold;
}

#accordion-main-container .card-body, #accordion-fuel-container .card-body {
    padding-top: 4px;
    padding-bottom: 0px;
}

#accordion-fuel-container > .card > .card-header {
    background-color: #a8dcee;
}

#accordion-fuel-container > .card > .card-header .btn-link {
    color: #1f4e79;
    font-weight: bold;
}

#accordion-main-container .form-group {
    margin-bottom: 2px;
}

#card-collapse-fuel .form-group {
    background-color: #dff2f9;
}

#card-collapse-elec .form-group {
    background-color: #bdede4;
}

#card-collapse-refrigerant .form-group {
    background-color: #a3c3dd;
}

footer {
    padding: 2px 2rem;
    display: flex;
    width: 100%;
    right: 0;
    flex-direction: row-reverse;
}

footer .btn {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: 2rem;
}

body:not(.show-cal) footer .btn-return {
    display: none;
}

.result-table-b {
    width: 100%;
    height: 100%;
}

.cal-result .reult-message {
    display: none;
}

.cal-result.err-message .reult-message {
    display: block;
}

.cal-result.err-message .result-table-b {
    height: calc( 100% - 32px );
}

.result-row {
    width: 100%;
    height: 33%;
    border: 1px solid;
    background-color: lightgreen;
}

.cal-result table {
    border-collapse: separate;
    border-spacing: 0;
}
/*.cal-result table*/
.cal-result table td {
    border: 1px #5180b5 solid;
    width: 16.6666%;
    background-color: #61b0e5;
    /*padding:.4rem 1.2rem;*/
}
.cal-result table .radius-t-l{
    border-top-left-radius: 5px;
}
.cal-result table .radius-t-r {
    border-top-right-radius: 5px;
}
.cal-result table .radius-b-l {
    border-bottom-left-radius: 5px;
}
.cal-result table .radius-b-r {
    border-bottom-right-radius: 5px;
}

.cal-result .result-table-b td {
    font-size: 1.8vw;
}

.cal-result table td:not(.d-content) {
    background-color: #61b0e5;
    text-align: center;
    font-weight: bold;
}

.cal-result table td.d-content {
    background-color: #cbf0fd;
    text-align: center;
}

.cal-result table td .small-font {
    font-size: .8rem;
}

.cal-result .reult-message {
    /*position: absolute;
    top: -2rem;*/
    color: red;
}
.import-remind{
    color:red;
}

.result-table-s {
    display: none;
    margin-bottom: 1rem;
}

.result-table-s-1 {
    /*margin-bottom: 1rem;*/
}

.user-porfile {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    width: 100%;
}
.user-porfile > *{
    /*display:flex;*/
    position:absolute;
    right:.2rem;
    bottom:.2rem;
    font-weight:bold;
}
.modal-view .modal-body .form-group {
    margin-bottom: 0;
}
.modal-view .modal-body .form-group-view {
    padding: 4px;
    display: flex;
}
.modal-view .modal-body .form-group:nth-child(2n+1) {
    /*background-color: #aaa;
    padding: 2px;*/
}
.modal-view .modal-body .form-group-view:nth-child(2n) {
    background-color: #eee;
}
#accordion-main-container.view {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom:2px;
    /*border-radius-: 1px solid rgba(0, 0, 0, 0.125);*/
}
#accordion-main-container.view .card:not(.view), .card.view .form-group:not(.view) {
    display: none;
}
.card.view, .collapse.view {
    display: block !important;
}
.btn.active > .glyphicon-eye-open:before {
    content: "\e106";
}
@media (max-width: 576px) {
    #accordion-main-container .text-right {
        text-align: left !important;
    }

    #accordion-main-container .form-control {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    footer .btn {
        width: 33.333%;
        border-radius: 0;
        height: 100%;
        margin-left: 0;
    }

    footer .btn-return {
        width: 100%;
    }

    header {
        height: 60px;
    }

    footer {
        border: 0;
        height: 40px;
        padding: 0;
    }

    .body-content {
        height: calc( 100% - 100px );
    }

    .result-table-b {
        display: none;
    }

    .result-table-s {
        display: block;
    }
    .m-hide{
        display:none;
    }
}
