<script src="~/Scripts/prj/UserInputProject.js?v=20241210001"></script>

@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table"></table>

