
/****** Object:  Table [dbo].[City]    Script Date: 2024/12/3 下午 04:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityCode] [nvarchar](6) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.City] PRIMARY KEY CLUSTERED 
(
	[CityCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Town]    Script Date: 2024/12/3 下午 04:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Town](
	[ZIP] [nvarchar](5) NOT NULL,
	[CityCode] [nvarchar](6) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Town] PRIMARY KEY CLUSTERED 
(
	[ZIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[City] ([CityCode], [Name]) VALUES (N'09007', N'連江縣')
INSERT [dbo].[City] ([CityCode], [Name]) VALUES (N'09020', N'金門縣')
INSERT [dbo].[City] ([CityCode], [Name]) VALUES (N'10002', N'宜蘭縣')
GO
INSERT [dbo].[Town] ([ZIP], [CityCode], [Name]) VALUES (N'100', N'63', N'中正區')
INSERT [dbo].[Town] ([ZIP], [CityCode], [Name]) VALUES (N'103', N'63', N'大同區')
INSERT [dbo].[Town] ([ZIP], [CityCode], [Name]) VALUES (N'104', N'63', N'中山區')
GO
